
  <div class="row" *ngIf="done">
    <div class="col-md-4">
      <img [src]="movies.Poster" alt="{{movies.Title}} Poster" class="img-fluid">
    </div>
    <div class="col-md-8">
      <h3>{{movies.Title}} ({{movies.Year}})</h3>
      <p><strong>Rated:</strong> {{movies.Rated}}</p>
      <p><strong>Released:</strong> {{movies.Released}}</p>
      <p><strong>Runtime:</strong> {{movies.Runtime}}</p>
      <p><strong>Genre:</strong> {{movies.Genre}}</p>
      <p><strong>Director:</strong> {{movies.Director}}</p>
      <p><strong>Plot:</strong> {{movies.Plot}}</p>
    </div>
  </div>

  <div class="container mt-4" *ngIf="!done">
    <div class="alert alert-danger" role="alert">
      Click on Home and Click Search
    </div>
  </div>
