<header class="bg-dark text-white py-3">
  <nav class="navbar justify-content-between">
    <a class="navbar-brand text-white" routerLink="/">Home</a>
    <!-- Replace the `routerLink` value with the actual path of your home page -->
    <!-- <form class="form-inline" (submit)="onSubmit()"> -->
      <form class="form-inline">
      <div class="input-group">
        <input type="text" [(ngModel)]="searchQuery" name="searchQuery" class="form-control" placeholder="Search..." >
        <!-- <input type="text" name="searchQuery" class="form-control" placeholder="Search..."> -->
        <div class="input-group-append">
          <button class="btn btn-primary" type="submit" routerLink="about" (click)="ngOnInit()">Go</button>
        </div>
      </div>
    </form>
  </nav>
</header>
<div class="container">
  <router-outlet></router-outlet>

</div>
